<div class="content">
  <div>
    <app-button>Click me!</app-button>
    <app-button [rounded]="true">Click me!</app-button>
    <app-button [rounded]="true" color="secondary">Click me!</app-button>
    <app-button [rounded]="true" [disabled]="true">Click me!</app-button>
  </div>

  <div>
    <app-toggle-switch [checked]="true">Click me!</app-toggle-switch>
    <app-toggle-switch [checked]="true" [rounded]="true"
      >Click me!</app-toggle-switch
    >
    <app-toggle-switch [checked]="true" [rounded]="true" color="secondary"
      >Click me!</app-toggle-switch
    >
    <app-toggle-switch [checked]="true" [rounded]="true" [disabled]="true"
      >Click me!</app-toggle-switch
    >
  </div>

  <div class="card-content">
    <app-card>
      <h1>Card Title</h1>
      <p>Card content</p>
    </app-card>

    <app-card [rounded]="true">
      <h1>Card Title</h1>
      <p>Card content</p>
    </app-card>

    <app-card [rounded]="true" color="secondary">
      <h1>Card Title</h1>
      <p>Card content</p>
    </app-card>
  </div>
</div>
